{% extends "base.html" %}

{% block content %}

<div class="row text-center">
    <div class="col mt-3 mb-3">
        <h1>Welcome to Tweetme</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 col-10 mx-auto">
        <form action="/create-tweet" id="create-tweet-form" method="POST">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-form-error-message"></div>
            <input type="hidden" name="next" value="/">
            <textarea required="required" name="content" class="form-control" placeholder="Your tweet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    Loading...
</div>


<script>
    const tweetsContainerElement = document.querySelector("#tweets");
    const tweetCreateFormEl = document.querySelector("#create-tweet-form");


    tweetCreateFormEl.addEventListener("submit", tweetCreateFormSubmit);

    function tweetCreateFormSubmit(event) {
        event.preventDefault();
        const myForm = event.target;
        const myFormData = new FormData(myForm);
        const url = myForm.getAttribute("action"); //endpoint
        const method = myForm.getAttribute("method");
        const xhr = new XMLHttpRequest();
        const responseType = "json";
        xhr.open(method, url);
        xhr.responseType = responseType;
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function () {
            if (xhr.status === 201) {
                handleTweetFormError("", false);
                const newTweetJson = this.response; //returing a new tweet object
                const newtweetElement = formatTweetElement(newTweetJson);
                const ogHtml = tweetsContainerElement.innerHTML;
                tweetsContainerElement.innerHTML = newtweetElement + ogHtml; //adding new tweet to the page
                myForm.reset();
            } else if (xhr.status === 400) {
                const errors = this.response;
                console.log(errors);
                const contentError = errors.content;
                let contentErrorMsg;
                if (contentError) {
                    contentErrorMsg = contentError[0];
                    if (contentErrorMsg) {
                        handleTweetFormError(contentErrorMsg, true);
                    } else {
                        alert("An error occured. Please try again")
                    }
                } else {
                    alert("An error occured. Please try again")
                }
                console.log(contentErrorMsg)
            } else if (xhr.status === 500) {
                alert("There was a server error, please try later")
            } else if (xhr.status === 403) {
                alert("You must login");
                window.location.href = "/login";
            } else if (xhr.status === 401) {
                alert("You must login");
                window.location.href = "/login";
            }

        }
        xhr.send(myFormData);
    }


    function loadTweets(tweetsElement) {
        const xhr = new XMLHttpRequest();
        const method = "GET";
        const url = "/tweets"; //endpoint
        const responseType = "json";

        //setting up xhr object
        xhr.responseType = responseType;
        xhr.open(method, url);
        xhr.onload = function () {
            const serverResponse = this.response;
            const listedTweets = serverResponse;
            var finalTweetStr = "";
            for (let tweet of listedTweets) {
                var currentTweet = formatTweetElement(tweet);
                finalTweetStr += currentTweet;
            }
            tweetsElement.innerHTML = finalTweetStr;
        }
        xhr.send();
    }

    loadTweets(tweetsContainerElement); //calling load tweets every time page is reloaded

    function formatTweetElement(tweet) {
        var formattedTweet = `<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-${tweet.id}'>
                            <p> ${tweet.content} </p>
                            <div class='btn-group' >${likeBtn(tweet)} </div>
                            </div>`;
        return formattedTweet;
    }

    function likeBtn(tweet) {
        return `<button class='btn btn-primary' onclick=handleDidLike(${tweet.id},${tweet.likes})> 
                ${tweet.likes} Like
                </button>`;
    }

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount);
    }

    function handleTweetFormError(msg, display) {
        let message = document.getElementById("tweet-form-error-message");
        if (display) {
            message.setAttribute("class", "d-block alert alert-danger");
            message.innerText = msg;
        } else {
            message.setAttribute("class", "d-none");
        }
    }

</script>

{% endblock %}